<% @page_title = "Import from Slack" %>

<% content_for :nav do %>
  <div class="flex-item-justify-start">
    <%= link_back_to edit_account_path %>
  </div>
<% end %>

<section class="panel panel--wide flex flex-column gap" style="view-transition-name: slack-import">
  <h1 class="margin-none txt-align-center">Import from Slack</h1>
  <p class="margin-none txt-align-center txt-subtle">
    Upload a Slack export ZIP file to get started.
  </p>

  <%= form_with url: upload_account_slack_import_path, scope: :slack_import, class: "flex flex-column gap", multipart: true do |form| %>
    <label class="flex flex-column gap-half">
      <span class="txt-small txt-subtle">Slack export ZIP</span>
      <%= form.file_field :archive, class: "input", accept: ".zip,application/zip,application/x-zip-compressed", required: true %>
    </label>

    <%= form.button class: "btn btn--reversed center align-center", type: :submit do %>
      <span>Next</span>
    <% end %>
  <% end %>
</section>
